<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.AddressMapper">

	<resultMap id="addressWithStudentsResultMap" type="com.mybatis3.domain.Address">
		<result column="ADDR_ID" property="addrId" />
		<result column="STREET" property="street" />
		<result column="CITY" property="city" />
		<result column="STATE" property="state" />
		<result column="ZIP" property="zip" />
		<result column="COUNTRY" property="country" />
		<collection property="studentList" javaType="java.util.List" ofType="com.mybatis3.domain.Student">
			<result column="STUD_ID" property="studId" />
			<result column="NAME" property="name" />
			<result column="EMAIL" property="email" />
			<result column="DOB" property="dob" />
		</collection>
	</resultMap>

	<!-- 
	join은 무조건 map이 있어야 함!
	/****************************  
	SELECT [addresses + students JOIN ] (1 : N)  
	*****************************/
	 -->

	<select id="findAddressByIdWithStudents" parameterType="java.lang.Integer" resultMap="addressWithStudentsResultMap">
		select * from addresses a inner join students s on a.addr_id=s.addr_id where a.addr_id=#{addrId}
	</select>
</mapper>