<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.CourseMapper">

	<resultMap id="courseWithStudentsResultMap" type="com.mybatis3.domain.Course">
		<result column="COURSE_ID" property="courseId" />
		<result column="COURSE_NAME" property="name" />
		<result column="DESCRIPTION" property="description" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
		<collection property="students" ofType="com.mybatis3.domain.Student" javaType="java.util.List">
			<result column="STUD_ID" property="studId" />
			<result column="NAME" property="name" />
			<result column="EMAIL" property="email" />
			<result column="DOB" property="dob" />
		</collection>
	</resultMap>

	<select id="findCourseByIdWithStudents" parameterType="java.lang.Integer" resultMap="courseWithStudentsResultMap">
		select c.course_id, c.name as course_name, c.description, c.start_date, c.end_date,
		s.stud_id, s.name, s.email, s.dob
		from courses c 
		join course_enrollment ce on c.course_id=ce.course_id
		join students s on ce.stud_id=s.stud_id
		where c.course_id=#{courseId}
	</select>
	
</mapper>