<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.CourseMapper">
	<!-- 
	select c.*,s.* from courses c 
	join course_enrollment ce on c.course_id=ce.course_id
	join students s on ce.stud_id=s.stud_id
	where c.course_id=1;
	-->
	<select id="findCourseByIdWithStudents" parameterType="java.lang.Integer">
	select c.*,s.* from courses c 
	join course_enrollment ce on c.course_id=ce.course_id
	join students s on ce.stud_id=s.stud_id
	where c.course_id=#{couseId}
	</select>
	
</mapper>