<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.StudentMapper">
	<!-- ################### resultMap정의 ########################## -->
	<!-- studentResultMap -->
	<!-- studentWithAddressResultMap -->
	<!-- studentWithCoursesResultMap -->
	
	<!-- @@@@@@@@@@@@@@@@@@@@@@@ select[students + addresses JOIN] @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	<!-- @@@@@@@@@@@@@@@@@@@@@@@ select[students + courses JOIN] @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	
	<!-- @@@@@@@@@@@@@@@@@@@@@@@ select @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	<!--resultMap  -->
	<!--resultType Dto  -->
	<!--resultType Wrappper(String) -->
	<!--resultType Map -->
	
	
	
	
	
	<!-- @@@@@@@@@ parameterType[java.util.Map,java.util.HashMap,map,hashmap] @@@@@ -->
	<!-- 
		parameterType
		  1. Dto
		  2. Wrapper(String),Date
		  3. Map
	 -->
	
	
	
	
	<!--@@@@@@@@@@@@@@@@@@@@@@@ insert @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	
	<!--@@@@@@@@@@@@@@@@@@@@@@@ update @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	
	<!--@@@@@@@@@@@@@@@@@@@@@@@ delete @@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
	
	
</mapper>












