<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis3.dao.mapper.TutorMapper">

<resultMap id="tutorWithCoursesResultMap" type="com.mybatis3.domain.Tutor" >
	<result column="TUTOR_ID" property="tutorId" />
	<result column="TUTOR_NAME" property="name" />
	<result column="EMAIL" property="email" />
	<collection property="courses" javaType="java.util.List" ofType="com.mybatis3.domain.Course">
		<result column="COURSE_ID" property="courseId" />
		<result column="COURSE_NAME" property="name" />
		<result column="START_DATE" property="startDate" />
		<result column="END_DATE" property="endDate" />
	</collection>
</resultMap>

<!-- 
/*******************************************
	SELECT TUTOR + COURSES JOIN [ 1 : N ]
*******************************************/
-->

	<select id="findTutorByIdWithCourses" parameterType="java.lang.Integer"
		resultMap="tutorWithCoursesResultMap">
		SELECT t.tutor_id, t.name as tutor_name, email,course_id, c.name, description, start_date, end_date
	    FROM tutors t 
	    left outer join courses c 
		on t.tutor_id=c.tutor_id
		where t.tutor_id=#{tutorId}
	</select>

</mapper>